<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>NavatarSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="908cc0">  <td>20/08/21 18:33:29</td>   <td>0</td> <td title="&gt;&gt;BaseLib.reportConfig()[pri:0, instance:[unknown locator]]">&gt;&gt;reportConfig</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1199673596</td>   <td></td> </tr>
<tr bgcolor="908cc0">  <td>20/08/21 18:33:29</td>   <td>226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.config(java.lang.String)[pri:0, instance:[unknown locator]]">&gt;&gt;config</td> 
<td>&nbsp;</td>  <td>main@1199673596</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>20/08/21 18:33:34</td>   <td>5087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SmokeTestCases.MnASmokeTc001_1_createCRMUserAndResetPassword(java.lang.String, java.lang.String)[pri:0, instance:[unknown locator]]">MnASmokeTc001_1_createCRMUserAndResetPassword</td> 
  <td>main@1199673596</td>   <td></td> </tr>
<tr bgcolor="908cc0">  <td>20/08/21 18:38:35</td>   <td>306686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.settingsAfterTests(org.testng.ITestResult)[pri:0, instance:[unknown locator]]">&lt;&lt;settingsAfterTests</td> 
<td>&nbsp;</td>  <td>main@1199673596</td>   <td></td> </tr>
<tr bgcolor="908cc0">  <td>20/08/21 18:38:43</td>   <td>314657</td> <td title="&lt;&lt;BaseLib.reportConfigEnd()[pri:0, instance:[unknown locator]]">&lt;&lt;reportConfigEnd</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1199673596</td>   <td></td> </tr>
</table>
